= form_for @license do |f|
  - @license.errors.each do |attr, msg|
    .alert.alert-danger.alert-dismissible
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      = "#{attr} #{msg}" if @license.errors[attr].first == msg
  =# f.hidden_field :AccountHeadId
  
  .row.mb-4
    -#
      - unless @license.account.blank?
        .row.mb-4
          %p.lead
            %strong Account:
            = @license.account.yard_name
      - else
        .col-sm-4
          %label.form-label{:for => "AccountHeadId"} Account
          = f.select :AccountHeadId, options_from_collection_for_select(Account.all, "Id", "YardName", @license.AccountHeadId), {prompt: 'Choose Account'}, {class: "form-control", required: true}
    .col-sm-4
      %label.form-label{:for => "AccountHeadId"} Account
      = f.select :AccountHeadId, options_from_collection_for_select(Account.all.order(:YardName), "Id", "YardName", params[:account_id].blank? ? @license.AccountHeadId : params[:account_id]), {prompt: 'Choose Account'}, {class: "form-control", required: true}
    .col-sm-4
      %label.form-label{:for => "SoftwareVersionId"} Software Version
      = f.select :SoftwareVersionId, options_from_collection_for_select(SoftwareVersion.all.order(:SoftwareName), "Id", "SoftwareName", params[:software_version_id].blank? ? @license.SoftwareVersionId : params[:software_version_id]), {prompt: 'Choose Software'}, {class: "form-control", required: true}
  .row.mb-4
    .col-sm-3
      %label.form-label{:for => "ExpireDate"} Expire Date
      = f.text_field :ExpireDate, class: "form-control flatpickr", placeholder: 'Expire Date', required: true
    .col-sm-2
      %label.form-label{:for => "DaysBetweenUpdate"} Days Between Update
      = f.number_field :DaysBetweenUpdate, class: "form-control", placeholder: 'Days Between Update', required: true, :min => "0", :pattern => "[0-9]*"
  .row.mb-4
    .col-sm-2
      %label.form-label{:for => "AutoUpdate"} Auto Update
      = f.check_box :AutoUpdate
    .col-sm-2
      %label.form-label{:for => "IsDemoLicense"} Demo License
      = f.check_box :IsDemoLicense
    .col-sm-2
      %label.form-label{:for => "IsSingleUser"} Single User
      = f.check_box :IsSingleUser
  .row.mb-4
    .col-sm-6
      #ezcash.accordion
        .accordion-item
          %h2#headingOne.accordion-header
            %button.accordion-button.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-bs-target" => "#collapse_ezcash", "data-bs-toggle" => "collapse", :type => "button"}
              EZcash
          #collapse_ezcash.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#ezcash"}
            .accordion-body
              .row.mb-4
                .col-sm-4
                  %label.form-label{:for => "number_of_devices"} Devices
                  = f.number_field :number_of_devices, class: "form-control", placeholder: 'Number of Devices', required: false, :min => "0", :pattern => "[0-9]*"
              .row.mb-4
                .col-sm-6
                  %label.form-label{:for => "ezcash_mac_address"} Mac Address
                  = f.text_field :ezcash_mac_address, class: "form-control", placeholder: 'Mac Address'
              .row.mb-4
                .col-sm-6
                  %label.form-label{:for => "key"} Key
              -#
              %hr
              .col-sm-12
                = f.fields_for :devices do |device_form|
                  = render "device_fields", f: device_form
                = link_to_add_fields "Add Devices", f, :devices

    .col-sm-6
      #jpegger.accordion
        .accordion-item
          %h2#headingOne.accordion-header
            %button.accordion-button.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-bs-target" => "#collapse_jpegger", "data-bs-toggle" => "collapse", :type => "button"}
              JPEGger
          #collapse_jpegger.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#jpegger"}
            .accordion-body
              .row.mb-4
                .col-sm-4
                  %label.form-label{:for => "number_of_subnets"} Subnets
                  = f.number_field :number_of_subnets, class: "form-control", placeholder: 'Number of Subnets', required: false, :min => "0", :pattern => "[0-9]*"
                .col-sm-4
                  %label.form-label{:for => "number_of_cameras"} Cameras
                  = f.number_field :number_of_cameras, class: "form-control", placeholder: 'Number of Cameras', required: false, :min => "0", :pattern => "[0-9]*"
              .row.mb-4
                .col-sm-6
                  %label.form-label{:for => "jpegger_mac_address"} Mac Address
                  = f.text_field :jpegger_mac_address, class: "form-control", placeholder: 'Mac Address'
              .row.mb-4
                .col-sm-6
                  %label.form-label{:for => "key"} Key
              -#
              %hr
              .col-sm-12
                = f.fields_for :cameras do |camera_form|
                  = render "camera_fields", f: camera_form
                = link_to_add_fields "Add Cameras", f, :cameras
  .row.mb-4
    %hr
    .col-6
      = link_to 'Cancel', :back, class: "btn btn-outline-secondary"
      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}} 
        Save
  .row.mb-4