-@title= @software_version.name
= render partial: 'shared/navbars/header_navbar'
.container-fluid
  .row
    = render partial: 'shared/navbars/side_bar_menu'
    %main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        %h1.h2= @software_version.name
      %ul.list-group.list-group-horizontal
        %li.list-group-item
          %p
            %strong Current Version
            = @software_version.current_version
        %li.list-group-item
          %p
            %strong Release Date
            = @software_version.release_date.strftime("%m/%d/%Y")
        %li.list-group-item
          %p
            %strong Software Type
            = @software_version.software_type
        %li.list-group-item
          %p
            %strong Is SDX
            = @software_version.is_sdx? ? 'Yes' : 'No'
        %li.list-group-item
          %p
            %strong Is Default License
            = @software_version.is_default_license? ? 'Yes' : 'No'
      %br
      %h2 Licenses
      .table-responsive
        %table.table.table-striped.table-sm
          %thead
            %tr
              %th Account
              %th Expire Date
              %th Days Between Update
              %th Auto Update
              %th Is Demo License
              %th Is Single User
              %th
              
          %tbody
            - @licenses.each do |license|
              %tr
                %td= link_to license.account.yard_name, license.account
                %td= license.expire_date.strftime("%m/%d/%Y")
                %td= license.days_between_update
                %td= license.auto_update? ? 'Yes' : 'No'
                %td= license.is_demo_license? ? 'Yes' : 'No'
                %td= license.is_single_user? ? 'Yes' : 'No'
                %td
                  = link_to 'Show', license, class: 'btn btn-sm btn-secondary'
                  = link_to 'Edit', edit_license_path(license), class: 'btn btn-sm btn-primary'
                  =# link_to 'Delete', license, :method => :delete, class: 'btn btn-sm btn-danger', :data => { :confirm => 'Are you sure you want to delete this license? It cannot be undone.' }
                  = link_to 'Delete', '#', class: 'btn btn-sm btn-danger'
                