-@title= "Account Activities"
= render partial: 'shared/navbars/header_navbar'
.container-fluid
  .row
    = render partial: 'shared/navbars/side_bar_menu'
    %main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        %h1.h2 Account Activities
        .btn-toolbar.mb-2.mb-md-0
          .btn-group.me-2
            %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Share
            %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Export
          %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{:type => "button"}
            %span{"data-feather" => "calendar"}
            This week

      .table-responsive
        %table.table.table-striped.table-sm
          %thead
            %tr
              %th Date Created
              %th Last Buy Transaction #
              %th Last Contract #
              %th Last Shipment #
              %th Last Pack #
              %th Last Work Order #
              %th Computers
              %th Version
          %tbody
            - @account_activities.each do |account_activity|
              %tr
                %td= account_activity.DateCreated.strftime("%-m/%-d/%y %H:%M:%S")
                %td= account_activity.LastBuyTransactionNumber.strip
                %td= account_activity.LastContractNumber.strip
                %td= account_activity.LastShipmentNumber.strip
                %td= account_activity.LastPackNumber.strip
                %td= account_activity.LastWorkOrderNumber.strip
                %td= account_activity.NumberOfComputers
                %td= account_activity.SoftwareVersion.strip

      = paginate @account_activities