%nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
  .position-sticky.pt-3
    %ul.nav.flex-column
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'welcome' ? 'active' : ''}", "aria-current" => "page", href: root_path}
          %i.fas.fa-home
          Dashboard
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'accounts' ? 'active' : ''}", href: accounts_path}
          %i.fas.fa-building
          Dragon Accounts
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'tranact_accounts' ? 'active' : ''}", href: tranact_accounts_path}
          %i.fas.fa-building
          Tranact Accounts
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'licenses' ? 'active' : ''}", href: licenses_path}
          %i.fas.fa-handshake
          Licenses
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'servers' ? 'active' : ''}", href: servers_path}
          %i.fas.fa-server
          Servers
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'software_versions' ? 'active' : ''}", href: software_versions_path}
          %i.fas.fa-desktop
          Software
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'employees' ? 'active' : ''}", href: employees_path}
          %i.fas.fa-users
          Employees
      - unless current_employee.blank?
        %li.nav-item
          %a.nav-link{class: "#{params[:controller] == 'devise' ? 'active' : ''}", href: edit_employee_registration_path(current_employee)}
            %i.fas.fa-cog
            My Account
    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span Saved reports
      %a.link-secondary{"aria-label" => "Add a new report", :href => "#"}
        %span{"data-feather" => "plus-circle"}
    %ul.nav.flex-column.mb-2
      %li.nav-item
        %a.nav-link{:href => "#"}
          %span{"data-feather" => "file-text"}
          Current month
      %li.nav-item
        %a.nav-link{:href => "#"}
          %span{"data-feather" => "file-text"}
          Last quarter