= form_for @tranact_account do |f|
  - @tranact_account.errors.each do |attr, msg|
    .alert.alert-danger.alert-dismissible
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      = "#{attr} #{msg}" if @tranact_account.errors[attr].first == msg
  .row.mb-4
    .col-xs-12.col-sm-3
      %label.form-label{:for => "Name"} Name
      = f.text_field :Name, class: "form-control", placeholder: 'Name', required: true
    - unless @tranact_account.new_record?
      .col-xs-12.col-sm-3
        %label.form-label{:for => "Account"} Account#
        = f.text_field :Account, class: "form-control", placeholder: 'Account', readonly: true
    - if @tranact_account.new_record?
      .col-xs-12.col-sm-3
        %label.form-label{:for => "CreateUser"} Create User
        = f.text_field :CreateUser, value: current_employee.full_name, class: "form-control", placeholder: 'CreateUser', required: true, readonly: true
    - else
      .col-xs-12.col-sm-3
        %label.form-label{:for => "ModifiedUser"} Modified User
        = f.text_field :ModifiedUser, value: current_employee.full_name, class: "form-control", placeholder: 'ModifiedUser', required: true, readonly: true
  -#
  .row.mb-4
    .col-xs-12.col-sm-2
      %label.form-label{:for => "LicenseIntervalMonths"} License Interval Months
      = f.text_field :LicenseIntervalMonths, class: "form-control", placeholder: 'LicenseIntervalMonths', required: true
    .col-xs-12.col-sm-2
      %label.form-label{:for => "JPEGgerExpDate"} JPEGger Expiration Date
      = f.text_field :JPEGgerExpDate, class: "form-control flatpickr", placeholder: 'JPEGgerExpDate', required: true
    .col-xs-12.col-sm-2
      %label.form-label{:for => "EZCashExpDate"} EZCash Expiration Date
      = f.text_field :EZCashExpDate, class: "form-control flatpickr", placeholder: 'EZCashExpDate', required: true
    .col-xs-12.col-sm-2
      %label.form-label{:for => "JPEGgerQty"} JPEGger Qty
      = f.text_field :JPEGgerQty, class: "form-control", placeholder: 'JPEGgerQty', required: true
    .col-xs-12.col-sm-2
      %label.form-label{:for => "EZCashDevices"} EZCash Devices
      = f.text_field :EZCashDevices, class: "form-control", placeholder: 'EZCashDevices', required: true
  .row.mb-4
    
    .col-sm-2
      %label.form-label{:for => "Active"} Active
      = f.check_box :Active
    .col-sm-2
      %label.form-label{:for => "JPEGger"} JPEGger
      = f.check_box :JPEGger
    .col-sm-2
      %label.form-label{:for => "JPEGgerLicType"} JPEGgerLicType
      = f.check_box :JPEGgerLicType
    .col-sm-2
      %label.form-label{:for => "EZCash"} EZCash
      = f.check_box :EZCash
    .col-sm-2
      %label.form-label{:for => "EZCashLock"} EZCashLock
      = f.check_box :EZCashLock
  .row.mb-4
    %hr
    .col-6
      = link_to 'Cancel/Back', :back, class: "btn btn-outline-secondary"
      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}} 
        Save
  .row.mb-4